<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> ReMind | Clips </title>
    <link rel="stylesheet" href="../css/main_style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <section class="home-section">
    <%-include('partials/video_player.ejs', {play: "../../images/v09044g40000cg17u5bc77u6ktjfl8pg.mov", play_buffer: ""}) %>
  </section>
  <!-- <div class="wave type1"></div> -->
  <%-include('partials/sidebar') %>
  <script>
    function hasScroll(el, direction) {
      direction = (direction === 'vertical') ? 'scrollTop' : 'scrollLeft';
      var result = !! el[direction];

      if (!result) {
          el[direction] = 1;
          result = !!el[direction];
          el[direction] = 0;
      }
      return result;
  }

  alert('vertical? ' + hasScroll(document.body, 'vertical'));
  alert('horizontal? ' + hasScroll(document.body, 'horizontal'));
  </script>
</body>
</html>