<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> ReMind | Home </title>
    <link rel="stylesheet" href="css/main_style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    <div class="wave type1"></div>
    <%-include('partials/sidebar') %>
    <section class="home-section">
        <div class="text">Dashboard</div>
    </section>
</body>
</html>