<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nokoSocial - Responsive Social Media Website Using HTML, CSS & JavaScript</title>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
     <!-- FONTASWOME CDN -->
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="../../../../../style/main_style.css">
</head>
  <body class="register">
      <div class="login_form">
        <header>Create Account</header>
        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Account</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" required>
                        </div>
                        <div class="input-field">
                            <label>Username</label>
                            <input type="text" placeholder="Enter your name" required>
                        </div>
                        <div class="input-field">
                            <label>Gender</label>
                            <select required>
                                <option disabled selected>Select gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                            </select>
                        </div>
                        <div class="input-field">
                          <label>Role</label>
                          <select required>
                              <option disabled selected>Select role</option>
                              <option>Developer</option>
                              <option>Game Tester</option>
                              <option>Gamer</option>
                          </select>
                        </div>
                        <div class="input-field">
                          <label>Password</label>
                          <input type="password" placeholder="Enter your name" required>
                        </div>
                        <div class="input-field">
                          <label>Password</label>
                          <input type="password" placeholder="Enter your name" required>
                        </div>
                    </div>
                    <span class="title">About</span>
                    <div class="input-field">
                      <label>About you</label>
                      <input type="text" placeholder="You can create a short description about you. (Max 200 chars)" required style="width: 100%;" maxlength="200">
                    </div>
                    <div class="input-field">
                      <label>Intrests</label>
                      <input type="text" placeholder="Add all games you like!" required style="width: 100%;" maxlength="200">
                    </div>
                    <div class="buttons">
                      <div class="backBtn">
                          <i class="uil uil-signin"></i>
                          <span class="btnText">Login</span>
                      </div>
                      <div class="backBtn">
                        <i class="uil uil-create-dashboard"></i>
                        <span class="btnText">Create</span>
                      </div>
                  </div>
                </div>
            </div>
        </form>
      </div>
      <section class="popup">
        <button class="show-modal">Show Modal</button>
        <span class="overlay"></span>
        <div class="modal-box">
          <i class="uil uil-exclamation-octagon"></i>
          <h2>Completed</h2>
          <h3>You have sucessfully downloaded all the source code files.</h3>
          <div class="buttons">
            <button class="close-btn">Ok, Close</button>
            <button>Open File</button>
          </div>
        </div>
      </section>
      <script>
        const section = document.querySelector("section"),
        overlay = document.querySelector(".overlay"),
        showBtn = document.querySelector(".show-modal"),
        closeBtn = document.querySelector(".close-btn");
        showBtn.addEventListener("click", () => section.classList.add("active"));
        overlay.addEventListener("click", () =>
          section.classList.remove("active")
        );
        closeBtn.addEventListener("click", () =>
          section.classList.remove("active")
        );
      </script>
  </body>
</html>